<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Nova+Square&display=swap" rel="stylesheet">
</head>

<body>

<script>

  // user fetch profiles from database
  fetch_data();

  function fetch_data()
  {
    // fetch data to load user profiles
    var url = "http://localhost:5000/fetch";
    // add filter parameters to url

    // process API response
    fetch(url).
    then(response => response.json()).
    then(data => stylize(data));
  }

  // print data on UI
  function stylize(data)
  {
    for(i=0; i < data.length; i++)
    {
      var card = document.createElement('div');
      card.style = "width:350px; float: left; border: 1px solid #d8d8d8; box-shadow: 5px 5px 5px #bdbdbd; font-size: 16px; font-family: Nova Square; margin: 20px; padding: 20px";

      card.innerHTML = data[i]['name'] + " <br><br> " + data[i]['email'] + " | " + data[i]['phone'] + " <br><br> [" + data[i]['skills'] + "] <br><br> [" + data[i]['tools'] + "] <br><br> " + data[i]['address']['city'] + ", " + data[i]['address']['country'];
      document.body.appendChild(card);
    }
  }
</script>
</body>
</html>
